:root{
	--mainColor:#212325;
	--secondaryColor:#242424;

	--borderColor:#cccccc;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(110, 110, 110, 0.8);
	--previewShadow:#181818;


	--buttonColor:#000000;


}