:root{
	--mainColor: #f9e076;
	--secondaryColor: #d8b863;

	--borderColor:#164D56;

	--mainText: rgb(0, 0, 0);
	--secondaryText:rgb(0, 0, 0);

	--themeDotBorder:#FFF;

	--previewBg:#fdefb2;
	--previewShadow:#fde992;


	--buttonColor:#d6b85a;


}